@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #000;
}

.wrapper{
  display: flex;
  width: 800px;
  margin: 50px auto;
  background: #fff;
}

.wrapper .left{
  width: 35%;
  background: #5B9BD5;
}

#Resume_image{
  height: 100%;
  width: 100%;
  border: 5px solid #5B9BD5;
  object-fit: contain;
}

.wrapper .title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.wrapper .left .bottom{
  padding: 20px 30px;
}

.wrapper .item{
  padding: 20px 0;
}

.wrapper .left .item{
  border-bottom: 1px solid #fff;
}

.wrapper .right .item{
  border-bottom: 1px solid #5B9BD5;
}

.wrapper .item:last-child{
  border-bottom: 0px;
}

.wrapper .namerole .name{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 4px;
}

.wrapper .namerole .role{
  color: #263238;
}

a{
  color: #000;
}

a:hover{
  color: #fd0;
}

.wrapper .left .education .info{
  margin: 6px 0;
}

.wrapper .left .education .info:last-child{
  margin: 0;
}

.wrapper .left .edu_course{
  font-weight: bold;
  padding-top: 10px;
}

.wrapper .left .edu_university{
  font-style: italic;
}

.wrapper .right{
  width: 65%;
  padding: 20px 40px;
}

.wrapper .right .listofskills{
  display: flex;
}

.wrapper .right .skills .skills_col1{
  width: 33.33%;
}

.wrapper .right .skills .skills_col2{
  width: 33.33%;
}

.wrapper .right .skills .skills_col3{
  width: 33.33%;
}

.wrapper .right .skills .skill_name, .wrapper .left .connect .info, .wrapper .left .projects .info{
  margin-top: 10px;
}

.wrapper .right .skills .skill_name:first-child, .wrapper .left .connect .info: first-child, .wrapper .left .projects .info: first-child{
  margin-top: 0;
}

ul{
  list-style: disc inside;
}

ul.inner{
  list-style: circle inside;
  text-indent: 15px;
}

li, .wrapper .right .info{
  line-height: 2;
}

@media screen and (min-width: 799px){
  .wrapper .right .namerole{
    display: block;
  }
  .wrapper .left .namerole{
    display: none;
  }
}

@media screen and (max-width: 800px){
  .wrapper .right .namerole{
    display: none;
  }
  .wrapper .left .namerole{
    display: block;
  }
  .wrapper{
    width: 95%;
    margin: 10px auto;
    flex-direction: column;
  }
  .wrapper .left, .wrapper .right{
    width: 100%;
  }
}